@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Slider Area -->
<section class="slider">
    <div class="hero-slider">       
        <!-- Start Single Slider -->
        <div class="single-slider" style="background-image:url('./img/slider.png')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1>
                                We Provide <span>Healthcare</span>
                                That You Can <span>Trust!</span>
                            </h1>
                            @* <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p> *@
                            @* <div class="button">
                            <a href="#" class="btn">Get Appointment</a>
                            <a href="#" class="btn primary">About Us</a>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start End Slider -->
        <!-- Start Single Slider -->
        <div class="single-slider" style="background-image:url('./img/slider3.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1>
                                We Provide <span>Healthcare</span>
                                That You Can <span>Trust!</span>
                            </h1>
                            @* <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
                            <div class="button">
                            <a href="#" class="btn">Get Appointment</a>
                            <a href="#" class="btn primary">Conatct Now</a>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
        <!-- Start Single Slider -->
        <div class="single-slider" style="background-image:url('./img/slider2.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <h1>
                                We Provide <span>Healthcare</span>
                                That You Can <span>Trust!</span>
                            </h1>
                            @* <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p> *@
                            @* <div class="button">
                            <a href="#" class="btn">Get Appointment</a>
                            <a href="#" class="btn primary">Learn More</a>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
    </div>
</section>
<!--/ End Slider Area -->
<!-- Start Schedule Area -->
<section class="schedule">
    <div class="container">
        <div class="schedule-inner">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 ">
                    <!-- single-schedule -->
                    <div class="single-schedule first">
                        <div class="inner">
                            <div class="icon">
                                <i class="fa fa-ambulance"></i>
                            </div>
                            <div class="single-content">
                                <span>Queen's Family Pharmacy</span>
                                <h4>Services</h4>
                                <ul class="time-sidual">
                                    <li class="day">Minor Ailments Prescribing</li>
                                    <li class="day">Med Checks</li>
                                    <li class="day">Compression Stocking Fitting</li>
                                    <li class="day">Easy Prescription Transfer</li>
                                    <li class="day">Vaccinations and Health Services</li>
                                    <li class="day">Injections</li>
                                    <li class="day">Free Delivery Medicine</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- single-schedule -->
                    <div class="single-schedule middle">
                        <div class="inner">
                            <div class="icon">
                                <i class="icofont-prescription"></i>
                            </div>
                            <div class="single-content">
                                <span>
                                    Queen's Family Pharmacy
                                </span>
                                <br/>
                                <h3 style="color:#fff">Family Medicine </h3>
                                <h3 style="color:#fff">&</h3>
                                <h3 style="color:#fff">Dermatologist</h3><br />
                                <h3 style="color:#fff">Walk-In</h3> <br />
                                <h3 style="color:#fff">Clinic on Site</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-12">
                    <!-- single-schedule -->
                    <div class="single-schedule last">
                        <div class="inner">
                            <div class="icon">
                                <i class="icofont-ui-clock"></i>
                            </div>
                            <div class="single-content">
                                <span>Queen's Family Pharmacy</span>
                                <h4>Opening Hours</h4>
                                <ul class="time-sidual">
                                    <li class="day">Monday <span>9:00am-6:00pm</span></li>
                                    <li class="day">Tuesday <span>9:00am-6:00pm</span></li>
                                    <li class="day">Wednesday  <span>9:00am-6:00pm</span></li>
                                    <li class="day">Thursday  <span>9:00am-6:00pm</span></li>
                                    <li class="day">Friday  <span>9:00am-6:00pm</span></li>
                                    <li class="day">Saturday  <span>9:00am-2:00pm</span></li>
                                    <li class="day">Sunday  <span>Closed</span></li>
                                </ul>
                                @* <a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/End Start schedule Area -->
<!-- Start service -->
<section id="section_service" class="services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>We Offer Different Services To Improve Your Health</h2>
                    <img src="~/img/section-img.png" alt="#">
                    <p class="clsAmount">Queen's Services</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="icofont icofont-gym"></i>
                    <h4><a>Minor Ailments Prescribing</a></h4>
                    <p>Ontario pharmacists can now prescribe medications for 13 common ailments. Call or visit our pharmacy today to book an appointment if you experience symptoms of any of the following. </p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <ul>
                                <li><a><i class="fa fa-caret-right" style="font-size:25px" aria-hidden="true"></i>Allergies</a></li>
                                <li><a><i class="fa fa-caret-right" style="font-size:25px" aria-hidden="true"></i>Oral Thrush</a></li>
                                <li><a><i class="fa fa-caret-right" style="font-size:25px" aria-hidden="true"></i>Eye Infections</a></li>
                                <li><a><i class="fa fa-caret-right" style="font-size:25px" aria-hidden="true"></i>Dysmenorrhea</a></li>
                                <li><a><i class="fa fa-caret-right" style="font-size:25px" aria-hidden="true"></i>Sprains & Strains</a></li>
                                <li><a><i class="fa fa-caret-right" style="font-size:25px" aria-hidden="true"></i>Hemorrhoids</a></li>
                                <li><a><i class="fa fa-caret-right" style="font-size:25px" aria-hidden="true"></i>Cold sores</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <ul>
                                <li><a><i class="fa fa-caret-right" style="font-size:25px" aria-hidden="true"></i>Urinary tract infections</a></li>
                                <li><a><i class="fa fa-caret-right" style="font-size:25px" aria-hidden="true"></i>Insect bites</a></li>
                                <li><a><i class="fa fa-caret-right" style="font-size:25px" aria-hidden="true"></i>Select types of skin rashes</a></li>
                                <li><a><i class="fa fa-caret-right" style="font-size:25px" aria-hidden="true"></i>Tick bites</a></li>
                                <li><a><i class="fa fa-caret-right" style="font-size:25px" aria-hidden="true"></i>Acid reflux</a></li>
                                <li><a><i class="fa fa-caret-right" style="font-size:25px" aria-hidden="true"></i>Impetigo</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="icofont icofont-pills"></i>
                    <h4><a>Med Checks</a></h4>
                    <p> Managing multiple medications is no easy task. With all the different instructions and potential side effects it’s hard to know if the medications you take on a daily basis are working as well as they should. There is a way to make sure you´re getting the most from your medications. Our pharmacy has a free Meds Check program that allows you to schedule a 20 to 30 minute one-to-one meeting with the pharmacist to ensure that you are safely and appropriately using all types of medication. </p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="icofont icofont-prescription"></i>
                    <h4><a>Easy Prescription Transfer</a></h4>
                    <p>We offer an easy an hassle free prescription transfer service. Simply fill out the form on our site and your prescription will be transferred to our pharmacy seamlessly. </p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="icofont icofont-leg"></i>
                    <h4><a>Compression Stocking Fitting</a></h4>
                    <p>
                        Compression stockings are a type of hosiery that help to prevent and treat certain venous disorders (varicose and spider veins, blood clots, leg ulcers, swelling, phlebitis). Compression stockings also provide relief from leg symptoms like aching, fatigue, and heaviness.
                        Pharmacy staff members at Queen's Family Pharmacy are specially trained to help you find the right fit for prescription and non-prescription compression stockings. In a compression stocking fitting, the pharmacy staff member will show you how to wear your compression stockings for maximum comfort and effectiveness.
                    </p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="icofont icofont-vehicle-delivery-van"></i>
                    <h4><a>Free Delivery</a></h4>
                    <p>Free Delivery is available. Some restrictions apply. Please contact us for more information. </p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="icofont icofont-injection-syringe"></i>
                    <h4><a>Injections</a></h4>
                    <p>We provide a wide range of Injections including flu shots, COVID boosters, shingles & travel vaccines.</p>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!--/ End service -->
<!-- Start Fun-facts -->
<div id="fun-facts" class="fun-facts section overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="content">
                    <h2 style="text-align:center; color:#fff;">Various Naturopathic Products sold & Recommendations from Dr.David Collings N.D. </h2>                     
                </div>
            </div>
        </div>
    </div>
     
            
            @* <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Fun -->
                <div class="single-fun">
                    <i class="icofont icofont-pills"></i>
                    <div class="content">
                        <span class="counter">989</span>
                        <p>Medicine Inventory</p>
                    </div>
                </div>
                <!-- End Single Fun -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Fun -->
                <div class="single-fun">
                    <i class="icofont icofont-user-alt-3"></i>
                    <div class="content">
                        <span class="counter">5</span>
                        <p>Specialist Doctors</p>
                    </div>
                </div>
                <!-- End Single Fun -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Fun -->
                <div class="single-fun">
                    <i class="icofont-simple-smile"></i>
                    <div class="content">
                        <span class="counter">101</span>
                        <p>Happy Patients</p>
                    </div>
                </div>
                <!-- End Single Fun -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Fun -->
                <div class="single-fun">
                    <i class="icofont icofont-table"></i>
                    <div class="content">
                        <span class="counter">32</span>
                        <p>Years of Experience</p>
                    </div>
                </div>
                <!-- End Single Fun -->
            </div> *@
       
</div>
<!--/ End Fun-facts -->
<!-- Start Quick Refill -->
<section id="section_QuickRefill" class="appointment">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>We Are Always Ready to Help You.</h2>
                    <img src="~/img/section-img.png" alt="#">
                    <p class="clsAmount">Queen's Quick Refill</p>
                </div>
            </div>
        </div>

        <div class="row">
            <form class="form">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input id="QName" name="name" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Date of Birth (mm-dd-yyyy)</label>
                                    <input id="QDOB" type="date" placeholder="mm-dd-yyyy">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input id="QEmail" name="email" type="email">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input id="QPhone" name="phone" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Pharmacy Location</label>
                                    <input id="QPharmacyLocation" class="form-control" type="text" value="Queen's Family Pharmacy" placeholder="Queen's Family Pharmacy" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Delivery/Pickup</label>
                                    <select id="QDeliveryPickup" class="nice-select form-control wide" style="height:3rem">
                                        <option value="1" data-display="Pickup">Pickup</option>
                                        <option value="2">Delivery</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Delivery/Pickup Date</label>
                                    <input id="QDeliveryPickupDate" type="date" placeholder="Delivery/Pickup Date" id="datepicker">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="form-group">
                                    <label>
                                        <b>PLEASE NOTE -</b>
                                        Prescriptions will be ready the next Business day. Please indicate any special instructions/preferred pickup time in the note section.
                                    </label>
                                    <textarea id="QNOTE" name="message" placeholder="Write Your Note Here....."></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        @* <div class="appointment-image">
                        <img src="img/contact-img.png" alt="#">
                        </div> *@
                        <div class="row">
                            <div class="form-group">
                                <label>1. Prescription Numbers</label>
                                <input id="QFirst" name="First" type="text">
                            </div>
                            <div class="form-group">
                                <label>2. Prescription Numbers</label>
                                <input id="QSecond" name="Second" type="text">
                            </div>
                            <div class="form-group">
                                <label>3. Prescription Numbers</label>
                                <input id="QThird" name="Third" type="text">
                            </div>
                            <div class="form-group">
                                <label>4. Prescription Numbers</label>
                                <input id="QFourth" name="fourth" type="text">
                            </div>
                            <div class="form-group">
                                <label>5. Prescription Numbers</label>
                                <input id="QFifth" name="fifth" type="text">
                            </div>
                            <div class="form-group">
                                <label>6. Prescription Numbers</label>
                                <input id="QSixth" name="sixth" type="text">
                            </div>
                        </div>
                    </div>
                    @*  <div class="row"> *@
                    <div class="col-lg-5 col-md-4 col-12">
                        <div class="form-group">
                            <div class="button">
                                <a id="btnOrder" class="btn" style="color: #fff !important;">Order</a>
                                <a onclick="clearDataQuickRefill()" class="btn" style="color: #fff !important;">Clear</a>
                            </div>
                        </div>
                    </div>
                    @* <div class="col-lg-7 col-md-8 col-12">
                    <p>( We will be confirm by an Text Message )</p>
                    </div> *@
                    @* </div> *@
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End Quick Refill -->


<!-- Start Why choose -->
@* <section class="why-choose section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>We Offer Different Services To Improve Your Health</h2>
                    <img src="img/section-img.png" alt="#">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <!-- Start Choose Left -->
                <div class="choose-left">
                    <h3>Who We Are</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pharetra antege vel est lobortis, a commodo magna rhoncus. In quis nisi non emet quam pharetra commodo. </p>
                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list">
                                <li><i class="fa fa-caret-right"></i>Maecenas vitae luctus nibh. </li>
                                <li><i class="fa fa-caret-right"></i>Duis massa massa.</li>
                                <li><i class="fa fa-caret-right"></i>Aliquam feugiat interdum.</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list">
                                <li><i class="fa fa-caret-right"></i>Maecenas vitae luctus nibh. </li>
                                <li><i class="fa fa-caret-right"></i>Duis massa massa.</li>
                                <li><i class="fa fa-caret-right"></i>Aliquam feugiat interdum.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Choose Left -->
            </div>
            <div class="col-lg-6 col-12">
                <!-- Start Choose Rights -->
                <div class="choose-right">
                    <div class="video-image">
                        <!-- Video Animation -->
                        <div class="promo-video">
                            <div class="waves-block">
                                <div class="waves wave-1"></div>
                                <div class="waves wave-2"></div>
                                <div class="waves wave-3"></div>
                            </div>
                        </div>
                        <!--/ End Video Animation -->
                        <a href="https://www.youtube.com/watch?v=RFVXy6CRVR4" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
                    </div>
                </div>
                <!-- End Choose Rights -->
            </div>
        </div>
    </div>
</section> *@
<!--/ End Why choose -->

<!-- Start Feautes -->
@* <section class="Feautes section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>We Are Always Ready to Help You & Your Family</h2>
                    <img src="img/section-img.png" alt="#">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-12">
                <!-- Start Single features -->
                <div class="single-features">
                    <div class="signle-icon">
                        <i class="icofont icofont-ambulance-cross"></i>
                    </div>
                    <h3>Emergency Help</h3>
                    <p>Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam vulputate.</p>
                </div>
                <!-- End Single features -->
            </div>
            <div class="col-lg-4 col-12">
                <!-- Start Single features -->
                <div class="single-features">
                    <div class="signle-icon">
                        <i class="icofont icofont-medical-sign-alt"></i>
                    </div>
                    <h3>Enriched Pharmecy</h3>
                    <p>Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam vulputate.</p>
                </div>
                <!-- End Single features -->
            </div>
            <div class="col-lg-4 col-12">
                <!-- Start Single features -->
                <div class="single-features last">
                    <div class="signle-icon">
                        <i class="icofont icofont-stethoscope"></i>
                    </div>
                    <h3>Medical Treatment</h3>
                    <p>Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam vulputate.</p>
                </div>
                <!-- End Single features -->
            </div>
        </div>
    </div>
</section> *@
<!--/ End Feautes -->



<!-- Start Blog Area -->
@* <section class="blog section" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Keep up with Our Most Recent Medical News.</h2>
                    <img src="img/section-img.png" alt="#">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Blog -->
                <div class="single-news">
                    <div class="news-head">
                        <img src="img/blog1.jpg" alt="#">
                    </div>
                    <div class="news-body">
                        <div class="news-content">
                            <div class="date">22 Aug, 2020</div>
                            <h2><a href="blog-single.html">We have annnocuced our new product.</a></h2>
                            <p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Blog -->
                <div class="single-news">
                    <div class="news-head">
                        <img src="img/blog2.jpg" alt="#">
                    </div>
                    <div class="news-body">
                        <div class="news-content">
                            <div class="date">15 Jul, 2020</div>
                            <h2><a href="blog-single.html">Top five way for solving teeth problems.</a></h2>
                            <p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Blog -->
                <div class="single-news">
                    <div class="news-head">
                        <img src="img/blog3.jpg" alt="#">
                    </div>
                    <div class="news-body">
                        <div class="news-content">
                            <div class="date">05 Jan, 2020</div>
                            <h2><a href="blog-single.html">We provide highly business soliutions.</a></h2>
                            <p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
        </div>
    </div>
</section> *@
<!-- End Blog Area -->
<!-- Start clients -->
@* <div class="clients overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="owl-carousel clients-slider">
							<div class="single-clients">
								<img src="img/client1.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/client2.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/client3.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/client4.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/client5.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/client1.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/client2.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/client3.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/client4.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> *@
<!--/Ens clients -->
<!-- Start Newsletter Area -->
@* <section class="newsletter section">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6  col-12">
                <!-- Start Newsletter Form -->
                <div class="subscribe-text ">
                    <h6>Sign up for newsletter</h6>
                    <p class="">Cu qui soleat partiendo urbanitas. Eum aperiri indoctum eu,<br> homero alterum.</p>
                </div>
                <!-- End Newsletter Form -->
            </div>
            <div class="col-lg-6  col-12">
                <!-- Start Newsletter Form -->
                <div class="subscribe-form ">
                    <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                        <input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Your email address'" required="" type="email">
                        <button class="btn">Subscribe</button>
                    </form>
                </div>
                <!-- End Newsletter Form -->
            </div>
        </div>
    </div>
</section> *@
<!-- /End Newsletter Area -->
<!-- Start Call to action -->
<section class="call-action overlay" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="content">
                    <h2>Do you need Medicine Delivery To Your Door Step +1 705-458-0003 </h2> <br />
                    @* <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor dictum turpis nec gravida.</p> *@
                    <div class="button">
                        <a href="#section_contact-us" class="btn">Contact Now</a>
                        <a href="#section_QuickRefill" class="btn">Quick Refill<i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Call to action -->

<!-- Start Transfer Prescription -->
<section id="section_TransferPrescription" class="appointment">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>We Are Always Ready to Help You.</h2>
                    <img src="img/section-img.png" alt="#">
                    <p class="clsAmount">Transfer Your Prescription</p>
                </div>
            </div>
        </div>

        <div class="row">
            <form class="form" action="#">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group">
                                    <label>New Pharmacy </label>
                                    <input id="TNewPharmacy" class="form-control" type="text" value="Queen's Family Pharmacy" placeholder="Queen's Family Pharmacy" readonly>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Current Pharmacy Name</label>
                                    <input id="TCurrentPharmacyName" name="Pharmacy Name" type="text">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Current Pharmacy Phone No</label>
                                    <input id="TCurrentPharmacyPhone" name="Pharmacy Phone" type="text">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Patient First Name</label>
                                    <input id="TPatientFirstName" name="PatientFirstName" type="text">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Patient Last Name</label>
                                    <input id="TPatientLastName" name="PatientLastName" type="text">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Patient Phone No</label>
                                    <input id="TPatientPhone" name="PatientPhone" type="text">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Patient Email</label>
                                    <input id="TPatientEmail" name="PatientEmail" type="email">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group">
                                    <label>Date of Birth (mm-dd-yyyy)</label>
                                    <input id="T_DOB" type="date" placeholder="mm-dd-yyyy">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="form-group">
                                    <label>
                                        <b>PLEASE NOTE -</b>
                                        Special Instructions
                                    </label>
                                    <textarea id="TNOTE" name="message" placeholder="Write Your Special Instructions....."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="row">
                            <div class="form-group">
                                <label>1. Current Prescription Number/Medication Name</label>
                                <input id="TFirst" name="First" type="text">
                            </div>
                            <div class="form-group">
                                <label>2. Current Prescription Number/Medication Names</label>
                                <input id="TSecond" name="Second" type="text">
                            </div>
                            <div class="form-group">
                                <label>3. Current Prescription Number/Medication Name</label>
                                <input id="TThird" name="Third" type="text">
                            </div>
                            <div class="form-group">
                                <label>4. Current Prescription Number/Medication Name</label>
                                <input id="TFourth" name="fourth" type="text">
                            </div>
                            <div class="form-group">
                                <label>5. Current Prescription Number/Medication Name</label>
                                <input id="TFifth" name="fifth" type="text">
                            </div>
                            <div class="form-group">
                                <label>6. Current Prescription Number/Medication Name</label>
                                <input id="TSixth" name="sixth" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-4 col-12">
                        <div class="form-group">
                            <div class="button">
                                <a id="btnTransferPrescription" class="btn" style="color: #fff !important;">Transfer Prescription</a>
                                <a id="btnClear1" onclick="clearDataTransferPrescription()" class="btn" style="color: #fff !important;">Clear</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End Quick Transfer Prescription -->
<!-- Pricing Table -->
<section id="section_aboutus" class="pricing-table section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Our team offers you top-notch service</h2>
                    <img src="~/img/section-img.png" alt="#">
                    @* <p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p> *@
                    <p class="clsAmount">Queen's Team</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-12 col-12">
                &nbsp;
            </div>
            <!-- Single Table -->
            <div class="col-lg-6 col-md-12 col-12">
                <div class="single-table">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="icon">
                            @* <i class="icofont icofont-ui-cut"></i> *@
                            <img src="~/img/ankita-profile.png" alt="Avatar" class="avatar" />
                        </div>
                        <h4 class="title">Ankita Shukla</h4>
                        <div class="price">
                            <p>Pharmacist/Owner</p>
                        </div>
                    </div>
                    <!-- Table List -->
                    @* <ul class="table-list">
                    <li><i class="icofont icofont-ui-check"></i>Lorem ipsum dolor sit</li>
                    <li><i class="icofont icofont-ui-check"></i>Cubitur sollicitudin fentum</li>
                    <li class="cross"><i class="icofont icofont-ui-close"></i>Nullam interdum enim</li>
                    <li class="cross"><i class="icofont icofont-ui-close"></i>Donec ultricies metus</li>
                    <li class="cross"><i class="icofont icofont-ui-close"></i>Pellentesque eget nibh</li>
                    </ul>
                    <div class="table-bottom">
                    <a class="btn" href="#">Book Now</a>
                    </div> *@
                    <p> For the past 11 years, Ankita has dedicated herself to serving her patients as a Community Pharmacist.</p>
                    <p>	She provides excellent service and health advice, prioritizing medication safety and offering thorough medication reviews. </p>
                    <p>	Ankita specializes in diabetic care and always prioritizes the interests of her patients.</p>
                    <!-- Table Bottom -->
                </div>
            </div>
            <!-- End Single Table-->           
        </div>
    </div>
</section>
<!--/ End Pricing Table -->

<!-- Start portfolio -->
<section class="portfolio section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>We Maintain Cleary Rules Inside Our Pharmacy</h2>
                    <img src="~/img/section-img.png" alt="#">
                    @* <p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p> *@
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="owl-carousel portfolio-slider">
                    <div class="single-pf">
                        <img src="~/img/Book_App.png" alt="#">
                        @* <a href="portfolio-details.html" class="btn">View Details</a> *@
                    </div>
                    <div class="single-pf">
                        <img src="~/img/Visit_Pharmacy.png" alt="#">
                        @* <a href="portfolio-details.html" class="btn">View Details</a> *@
                    </div>
                    <div class="single-pf">
                        <img src="~/img/QuickRefill.jpeg" alt="#">
                        @* <a href="portfolio-details.html" class="btn">View Details</a> *@
                    </div>
                    <div class="single-pf">
                        <img src="~/img/transfer Pre.png" alt="#">
                       @*  <a href="portfolio-details.html" class="btn">View Details</a> *@
                    </div>
                    <div class="single-pf">
                        <img src="~/img/Book_App.png" alt="#">
                        @* <a href="portfolio-details.html" class="btn">View Details</a> *@
                    </div>
                    <div class="single-pf">
                        <img src="~/img/Visit_Pharmacy.png" alt="#">
                        @* <a href="portfolio-details.html" class="btn">View Details</a> *@
                    </div>
                    <div class="single-pf">
                        <img src="~/img/QuickRefill.jpeg" alt="#">
                        @* <a href="portfolio-details.html" class="btn">View Details</a> *@
                    </div>
                    <div class="single-pf">
                        <img src="~/img/transfer Pre.png" alt="#">
                        @* <a href="portfolio-details.html" class="btn">View Details</a> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End portfolio -->
<!-- Start Contact Us -->
<section id="section_contact-us" class="contact-us section">
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="contact-us-left">
                        <!--Start Google-map -->
                        <div id="myMap">
                            <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Queen's%20Family%20Pharmacy%20%20238%20Barrie%20St,%20Thornton,%20ON%20L0L%202N0+(Pharmacy)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><br />
                        </div>
                        <!--/End Google-map -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="contact-us-form">
                        <h2>Contact With Us</h2>
                        <p>If you have any questions please fell free to contact with us.</p>
                        <!-- Form -->
                        <form class="form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input id="CName" type="text" name="name" placeholder="Name" required="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input id="CEmail" type="email" name="email" placeholder="Email" required="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input id="CPhone" type="text" name="phone" placeholder="Phone" required="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input id="CSubject" type="text" name="subject" placeholder="Subject" required="">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea id="CNote" name="message" placeholder="Your Message" required=""></textarea>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group login-btn">
                                        <a id="btnSendFeedback" class="btn">Send</a>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group login-btn">
                                        <a onclick="clearDataConatctUs()" class="btn">Clear</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--/ End Form -->
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-info">
            <div class="row">
                <!-- single-info -->
                <div class="col-lg-4 col-12 ">
                    <div class="single-info">
                        <i class="icofont icofont-ui-call"></i>
                        <div class="content">
                            <h3>+1 705-458-0003</h3>
                            <p href="mailto:queensfamilyrx@gmail.com">queensfamilyrx@gmail.com</p>
                        </div>
                    </div>
                </div>
                <!--/End single-info -->
                <!-- single-info -->
                <div class="col-lg-4 col-12 ">
                    <div class="single-info">
                        <i class="icofont-google-map"></i>
                        <div class="content">
                            <h3><a href="https://www.google.com/maps?q=1200+Queen%27s+Family+Pharmacy" target="_blank" rel="noopener noreferrer"> 238 Barrie Street, Thornton,</a></h3>
                            <p>ON L0L 2N0, Canada</p>
                        </div>
                    </div>
                </div>
                <!--/End single-info -->
                <!-- single-info -->
                <div class="col-lg-4 col-12 ">
                    <div class="single-info">
                        <i class="icofont icofont-wall-clock"></i>
                        <div class="content">
                            <h3>Mon - Sat: 09am - 06pm</h3>
                            <p>Sunday Closed</p>
                        </div>
                    </div>
                </div>
                <!--/End single-info -->
            </div>
        </div>
    </div>
</section>
<!--/ End Contact Us -->

<script src="~/js/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        //alert("onReday");

        $("#btnOrder").click(function () {
            let quickRefill = {
                QName: $("#QName").val(),
                QDOB: $("#QDOB").val(),
                QEmail: $("#QEmail").val(),
                QPhone: $("#QPhone").val(),
                //QPhone: $("#QAddress").val(),
                QPharmacyLocation: $("#QPharmacyLocation").val(),
                QDeliveryPickup: $("#QDeliveryPickup option:selected").text(),
                QDeliveryPickupDate: $("#QDeliveryPickupDate").val(),
                QNOTE: $("#QNOTE").val(),
                QFirst: $("#QFirst").val(),
                QSecond: $("#QSecond").val(),
                QThird: $("#QThird").val(),
                QFourth: $("#QFourth").val(),
                QFifth: $("#QFifth").val(),
                QSixth: $("#QSixth").val()
            };
            $.ajax({
                url: '/Home/QuickRefill',
                type: 'POST',
                async: false,
                dataType: 'application/json; charset=utf-8',
                data: quickRefill,
                success: function (data) {
                    alert("Thank You for Quick Refill Request.");
                    clearDataQuickRefill();
                }
            });
            setTimeout(function () {
                alert("Thank You for Quick Refill Request.");
                clearDataQuickRefill();
            }, 3000);
        });

        $("#btnTransferPrescription").click(function () {
            let TransferPrescription = {
                QName: $("#TPatientFirstName").val() + " " + $("#TPatientLastName").val(),
                QEmail: $("#TPatientEmail").val(),
                QPhone: $("#TPatientPhone").val(),
                QPharmacyLocation: $("#TNewPharmacy").val(),
                QDeliveryPickup: $("#QDeliveryPickup option:selected").text(),
                QDeliveryPickupDate: $("#T_DOB").val(),
                QNOTE: $("#TNOTE").val(),
                QFirst: $("#TFirst").val(),
                QSecond: $("#TSecond").val(),
                QThird: $("#TThird").val(),
                QFourth: $("#TFourth").val(),
                QFifth: $("#TFifth").val(),
                QSixth: $("#TSixth").val(),
                TCurrentPharmacyInfo: $("#TCurrentPharmacyName").val() + " , " + $("#TCurrentPharmacyPhone").val()

            };
            $.ajax({
                url: '/Home/TransferPrescription',
                type: 'POST',
                async: false,
                dataType: 'application/json; charset=utf-8',
                data: TransferPrescription,
                success: function (data) {
                    alert("Thank You for Transfer Prescription Request.");
                    clearDataTransferPrescription();
                }
            });
            setTimeout(function () {
                alert("Thank You for Transfer Prescription Request.");
                clearDataTransferPrescription();
            }, 3000);
        });

        $("#btnSendFeedback").click(function () {
            let ContactWithUs = {
                QName: $("#CName").val(),
                QEmail: $("#CEmail").val(),
                QPhone: $("#CPhone").val(),
                QPharmacyLocation: $("#CSubject").val(),
                QNOTE: $("#CNote").val()
            };
            $.ajax({
                url: '/Home/ContactUs',
                type: 'POST',
                async: false,
                dataType: 'application/json; charset=utf-8',
                data: ContactWithUs,
                success: function (data) {
                    alert("Thank You for Sending Feedback.");
                    clearDataConatctUs();
                }
            });
            setTimeout(function () {
                alert("Thank You for Sending Feedback.");
                clearDataConatctUs();
            }, 3000);
        });
    });
    function clearDataQuickRefill() {
        $("#QName").val('');
        $("#QEmail").val('');
        $("#QDOB").val('');
        $("#QPhone").val('');
        $("#QAddress").val('');
        $("#QPharmacyLocation").val('');
        $("#QDeliveryPickup option:selected").text('');
        $("#QDeliveryPickupDate").val('');
        $("#QNOTE").val('');
        $("#QFirst").val('');
        $("#QSecond").val('');
        $("#QThird").val('');
        $("#QFourth").val('');
        $("#QFifth").val('');
        $("#QSixth").val('');
    }
    function clearDataTransferPrescription() {
            $("#TPatientFirstName").val('');
            $("#TPatientLastName").val('');
            $("#TPatientEmail").val('');
            $("#TPatientPhone").val('');
            $("#TNewPharmacy").val('');
            $("#QDeliveryPickup option:selected").text('');
            $("#T_DOB").val('');
            $("#TNOTE").val('');
            $("#TFirst").val('');
            $("#TSecond").val('');
            $("#TThird").val('');
            $("#TFourth").val('');
            $("#TFifth").val('');
            $("#TSixth").val('');
            $("#TCurrentPharmacyName").val('');
            $("#TCurrentPharmacyPhone").val('');
    }
    function clearDataConatctUs(){
        $("#CName").val('')
        $("#CEmail").val('');
        $("#CPhone").val('');
        $("#CSubject").val('');
        $("#CNote").val('');
    }
</script>