@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QueensFamilyPharmacy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QueensFamilyPharmacy.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">QueensFamilyPharmacy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - QueensFamilyPharmacy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> *@
<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Site keywords here">
	<meta name="description" content="">
	<meta name='copyright' content=''>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Title -->
	<title>Queen's Family Pharmacy</title>

	<!-- Favicon -->
	<link rel="icon" href="img/favicon.png">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

	<!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Nice Select CSS -->
    <link href="~/css/nice-select.css" rel="stylesheet" />
	<!-- Font Awesome CSS -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
	<!-- icofont CSS -->
    <link href="~/css/icofont.css" rel="stylesheet" />
	<!-- Slicknav -->
    <link href="~/css/slicknav.min.css" rel="stylesheet" />
	<!-- Owl Carousel CSS -->
    <link href="~/css/owl-carousel.css" rel="stylesheet" />
	<!-- Datepicker CSS -->
    <link href="~/css/datepicker.css" rel="stylesheet" />
	<!-- Animate CSS -->
    <link href="~/css/animate.min.css" rel="stylesheet" />
	<!-- Magnific Popup CSS -->
    <link href="~/css/magnific-popup.css" rel="stylesheet" />

	<!-- Medipro CSS -->
    <link href="~/css/normalize.css" rel="stylesheet" />
	@* <link rel="stylesheet" href="css/style.css"> *@
	<link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />

</head>
<body>

	<!-- Preloader -->
	<div class="preloader">
		<div class="loader">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>

			<div class="indicator">
				<svg width="16px" height="12px">
					<polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
					<polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
				</svg>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
	<!-- Get Pro Button -->
	@* <ul class="pro-features">
		<a class="get-pro" href="#">Get Pro</a>
		<li class="big-title">Pro Version Available on Themeforest</li>
		<li class="title">Pro Version Features</li>
		<li>2+ premade home pages</li>
		<li>20+ html pages</li>
		<li>Color Plate With 12+ Colors</li>
		<li>Sticky Header / Sticky Filters</li>
		<li>Working Contact Form With Google Map</li>
		<div class="button">
			<a href="http://preview.themeforest.net/item/mediplus-medical-and-doctor-html-template/full_screen_preview/26665910?_ga=2.145092285.888558928.1591971968-344530658.1588061879" target="_blank" class="btn">Pro Version Demo</a>
			<a href="https://themeforest.net/item/mediplus-medical-and-doctor-html-template/26665910" target="_blank" class="btn">Buy Pro Version</a>
		</div>
	</ul> *@

	<!-- Header Area -->
	<header class="header">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-5 col-12">
						<!-- Contact -->
						@* <ul class="top-link">
							<li><a href="#">About</a></li>
							<li><a href="#">Doctors</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">FAQ</a></li>
						</ul> *@
						<!-- End Contact -->
					</div>
					<div class="col-lg-6 col-md-7 col-12">
						<!-- Top Contact -->
						<ul class="top-contact">
							<li><i class="fa fa-phone"></i>+1 705-458-0003</li>
							<li><i class="fa fa-fax"></i>705-458-0009</li> 
							<li><i class="fa fa-envelope"></i><a href="mailto:queensfamilyrx@gmail.com">queensfamilyrx@gmail.com</a></li>
						</ul>
						<!-- End Top Contact -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-12">
							<!-- Start Logo -->
							<div class="logo">
								<a href="#"><img src="img/logo.png" alt="#"></a>
							</div>
							<!-- End Logo -->
							<!-- Mobile Nav -->
							<div class="mobile-nav"></div>
							<!-- End Mobile Nav -->
						</div>
						<div class="col-lg-9 col-md-9 col-12">
							<!-- Main Menu -->
							<div class="main-menu">
								<nav class="navigation">
									<ul class="nav menu">
										<li class="active">
											<a href="#">Home <i class="icofont-rounded-down"></i></a>
											@* <ul class="dropdown">
												<li><a href="index.html">Home Page 1</a></li>
											</ul> *@
										</li>
										@* <li><a href="#">Doctos </a></li> *@
										<li><a href="#section_service">Services </a></li>
										@* <li>
											<a href="#">Pages <i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="404.html">404 Error</a></li>
											</ul>
										</li> *@
										@* <li>
											<a href="#">Blogs <i class="icofont-rounded-down"></i></a>
											<ul class="dropdown">
												<li><a href="blog-single.html">Blog Details</a></li>
											</ul>
										</li> *@
										<li><a href="#section_QuickRefill">Quick Refill</a></li>
										<li><a href="#section_TransferPrescription">Transfer Prescription</a></li>
										<li><a href="#section_aboutus">About Us</a></li>
										<li><a href="#section_contact-us">Contact Us</a></li>
                                        
									</ul>
								</nav>
							</div>
							<!--/ End Main Menu -->
						</div>
						@* <div class="col-lg-2 col-12">
							<div class="get-quote">
								<a href="appointment.html" class="btn">Book Appointment</a>
							</div>
						</div> *@
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!-- End Header Area -->

	@RenderBody()

	<!-- Footer Area -->
	<footer id="footer" class="footer ">
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-8 col-12">
						<div class="single-footer">
							<h2>About Us</h2>
							<p>Queen's Family Pharmacy is proud to operate as an independent pharmacy. Whether you need prescriptions filled, expert health advice, or specialized services, our knowledgeable staff is dedicated to providing you with the highest level of personalized care and service.</p>
							<!-- Social -->
							<ul class="social">
								<li><a href="#"><i class="icofont-facebook"></i></a></li>
								<li><a href="#"><i class="icofont-google-plus"></i></a></li>
								<li><a href="#"><i class="icofont-twitter"></i></a></li>
								<li><a href="#"><i class="icofont-vimeo"></i></a></li>
								<li><a href="#"><i class="icofont-pinterest"></i></a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>
					@* <div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer f-link">
							<h2>Quick Links</h2>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Our Cases</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Other Links</a></li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Consuling</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Finance</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Testimonials</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div> *@
					<div class="col-lg-4 col-md-8 col-12">
						<div class="single-footer">
							<h2>Open Hours</h2>
							@* <p>We're here to help. Give us a call to learn more about the health services we offer</p> *@
							<ul class="time-sidual">
								<li class="day">Monday <span>9:00am-6:00pm</span></li>
								<li class="day">Tuesday <span>9:00am-6:00pm</span></li>
								<li class="day">Wednesday <span>9:00am-6:00pm</span></li>
								<li class="day">Thursday <span>9:00am-6:00pm</span></li>
								<li class="day">Friday <span>9:00am-6:00pm</span></li>
								<li class="day">Saturday <span>9:00am-2:00pm</span></li>
								<li class="day">Sunday <span>Closed</span></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-8 col-12">
						<div class="single-footer">
							<h2>Contact Info</h2>
							@* <p>We're committed to providing you with exceptional service and care. Don't hesitate to contact us for all your pharmaceutical needs.</p> *@
							@* <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="email" placeholder="Email Address" class="common-input" onfocus="this.placeholder = ''"
									   onblur="this.placeholder = 'Your email address'" required="" type="email">
								<button class="button"><i class="icofont icofont-paper-plane"></i></button>
							</form> *@
							<ul class="time-sidual">
								<li class="day">Phone <span>+1 705-458-0003</span></li>
								<li class="day">Fax <span>705-458-0009</span></li>
								<li class="day">Email <span>queensfamilyrx@gmail.com</span></li>
								<li class="day">Location <span><a href="https://www.google.com/maps?q=1200+Queen%27s+Family+Pharmacy" target="_blank" rel="noopener noreferrer">238 Barrie Street, Thornton,</a></span></li>
								<li class="day">&nbsp; <span><a href="https://www.google.com/maps?q=1200+Queen%27s+Family+Pharmacy" target="_blank" rel="noopener noreferrer">ON L0L 2N0, Canada</a></span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Footer Top -->
		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="copyright-content">
							<p>| © Copyright 2024 Queen  | </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Copyright -->
	</footer>
	<!--/ End Footer Area -->
    <!-- jquery Min JS -->
    <script src="~/js/jquery.min.js"></script>	
	<!-- jquery Migrate JS -->
    <script src="~/js/jquery-migrate-3.0.0.js"></script>
	<!-- jquery Ui JS -->
    <script src="~/js/jquery-ui.min.js"></script>
	<!-- Easing JS -->
	<script src="~/js/easing.js"></script>
	<!-- Color JS -->
	<script src="~/js/colors.js"></script>
	<!-- Popper JS -->
	<script src="~/js/popper.min.js"></script>
	<!-- Bootstrap Datepicker JS -->
	<script src="~/js/bootstrap-datepicker.js"></script>
	<!-- Jquery Nav JS -->
	<script src="~/js/jquery.nav.js"></script>
	<!-- Slicknav JS -->
	<script src="~/js/slicknav.min.js"></script>
	<!-- ScrollUp JS -->
	<script src="~/js/jquery.scrollUp.min.js"></script>
	<!-- Niceselect JS -->
	<script src="~/js/niceselect.js"></script>
	<!-- Tilt Jquery JS -->
	<script src="~/js/tilt.jquery.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="~/js/owl-carousel.js"></script>
	<!-- counterup JS -->
	<script src="~/js/jquery.counterup.min.js"></script>
	<!-- Steller JS -->
	<script src="~/js/steller.js"></script>
	<!-- Wow JS -->
	<script src="~/js/wow.min.js"></script>
	<!-- Magnific Popup JS -->
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<!-- Counter Up CDN JS -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="~/js/bootstrap.min.js"></script>
	<!-- Main JS -->
	<script src="~/js/main.js"></script>
</body>
</html>